.histogram .highcharts-series-hover path {
                stroke: rgb(248,33,23);
                stroke-width: 4px;
            }

            .percentile .highcharts-series-hover path {
                stroke: rgb(248,33,23);
                stroke-width: 4px;
            }

            #nav {
                border-color: #999;
                border-style: solid;
                border-width: 0px 1px 0px 1px;
            }
            .navheading {
                padding: 8px 3px 8px 8px;
                border-color: #999;
                border-style: solid;
                border-width: 1px 0px 1px 0px;
            }
            li.navitem {
                background: #ffffff;
            }
            .bg-bu-red {
                background: #c00;
            }
            body {
                font-family: "Droid Sans"
            }

            .loader {
              border: 16px solid #f3f3f3; /* Light grey */
              border-top: 16px solid #3498db; /* Blue */
              border-radius: 50%;
              width: 120px;
              height: 120px;
              animation: spin 2s linear infinite;
            }

            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }
            
            .card-actions {
                margin-top: -20px;
                margin-bottom: 0;
                text-align: right;
            }
            .card-actions a {
                color:#333;
            }
            .card-fullscreen {
                display: block;
                z-index: 9999;
                position: fixed;
                width: 100%;
                height: 100vh;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                overflow: auto;
            }
            .fullscreen-button {
                font-style: italics;
            }
            .fullscreen-button:hover {
                cursor: pointer;
                text-decoration: underline;
            }
            .card-body {
                height: 90%;
            }


