             .handle {
                color: black;
                width: 3em;
                height: 1.6em;
                top: 50%;
                text-align: center;
                line-height: 1.2em;
            }


