<!DOCTYPE html>
<html lang="en">
    <head>
    <style>
        {{ common['css'] }}
        <!-- asset css -->
        {% for name, code in assets['css'].items() %}
        <!-- css asset: {{ name }} -->
        {{ code }}
        {% endfor %}
    </style>

    {% set js_assets = [
            'jquery-3.3.1.min.js',
            'jquery-ui.min.js',
            'd3-array.v1.min.js',
            'd3-collection.v1.min.js',
            'd3-color.v1.min.js',
            'd3-format.v1.min.js',
            'd3-scale.v2.min.js',
            'd3-interpolate.v1.min.js',
            'bootstrap.mundle.min.js',
            'underscore-min.js',
            'doT.min.js',
            'highcharts.js',
            'parallel-coordinates.js',
            'exporting.js',
            'offline-exporting.js'
       ]
    -%}
    {% for name in js_assets %}
    <!-- js asset: {{ name }} -->
    <script type="text/javascript">{{ assets['js'][name] }}</script>
    {% endfor %}

    <style>
        {% for name, code in templates['css'].items() %}
            {{ code }}
        {% endfor %}
    </style>
    </head>
    <body>
        <!-- dynamically loaded  HTML templates -->
        {% for name, tmpl in templates['html'].items() %}
        <template id="{{name}}">
            {{ tmpl }}
        </template>
        {% endfor %}

        {{ common['html'] }}

        <script type="text/javascript">
            var detk = detk || {};
            detk.data = {{ data }};
        </script>

        <script type="text/javascript">
            // top level namespace
            var detk = detk || {};

            // dynamically loaded JS
            detk.functions = {
            {% for name, code in templates['js'].items() %}
                "{{name}}": function(elem,d) {
                    {{ code }}
                },
            {% endfor %}
            }

            {{ common['js'] }}
        </script>

    </body>
</html>
