<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- asset css -->
    <link rel="stylesheet" type="text/css" href="css/assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/assets/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/assets/jquery-ui/jquery-ui.theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/assets/jquery-ui/jquery-ui.structure.min.css">

    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/assets/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/assets/jquery/jquery-ui.min.js"></script>

    <script type="text/javascript" src="js/assets/d3-array.v1.min.js"></script>
    <script type="text/javascript" src="js/assets/d3-collection.v1.min.js"></script>
    <script type="text/javascript" src="js/assets/d3-color.v1.min.js"></script>
    <script type="text/javascript" src="js/assets/d3-format.v1.min.js"></script>
    <script type="text/javascript" src="js/assets/d3-scale.v2.min.js"></script>
    <script type="text/javascript" src="js/assets/d3-interpolate.v1.min.js"></script>

    <script type="text/javascript" src="js/assets/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/assets/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/assets/underscore-min.js"></script>
    <script type="text/javascript" src="js/assets/doT.min.js"></script>

    <script type="text/javascript" src="js/assets/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="js/assets/highcharts/modules/parallel-coordinates.js"></script>
    <script type="text/javascript" src="js/assets/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="js/assets/highcharts/modules/offline-exporting.js"></script>

    <style>
        {{ common['css'] }}

        {% for name, code in templates['css'].items() %}
            {{ code }}
        {% endfor %}
    </style>
    </head>
    <body>
        <!-- dynamically loaded  HTML templates -->
        {% for name, tmpl in templates['html'].items() %}
        <template id="{{name}}">
            {{ tmpl }}
        </template>
        {% endfor %}

        {{ common['html'] }}

        <script type="text/javascript">
            // top level namespace
            var detk = detk || {};

            // dynamically loaded JS
            detk.functions = {
            {% for name, code in templates['js'].items() %}
                "{{name}}": function(elem,d) {
                    {{ code }}
                },
            {% endfor %}
            }

            {{ common['js'] }}
        </script>
        <script type="text/javascript" src="{{ data_path }}"></script>

    </body>
</html>
