<table class="table table-bordered" style="width: 200px">
                <tr>
                    <th scope="row" class="bg-light"># rows</th>
                    <td>{{=it.properties.num_rows}}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light"># cols</th>
                    <td>{{=it.properties.num_cols}}</td>
                </tr>
