<div class="card">
                <div class="card-header d-flex">
                    <h3 class="card-title w-100">Counts Distribution</h3>
                    <span class="fullscreen-button flex-shrink-1" id="histogram-card-fullscreen" role="button">Fullscreen</span>
                </div>
                <div class="card-body" style="height: 90%">
                    <div class="histogram" style="height: 90%"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex">
                    <h3 class="card-title w-100">Counts Percentile Plot</h3>
                    <span class="fullscreen-button flex-shrink-1" id="percentile-card-fullscreen" role="button">Fullscreen</span>
                </div>
                <div class="card-body">
                    <div class="percentile" style="height: 90%"></div>
                </div>
            </div>
