        <template id="file_div">
            <div id="{{=it.id}}">
                <h2 class="text-center text-white p-2 m-0 bg-bu-red rounded">{{=it.name}}</h2>
            </div>
        </template>

        <template id="file_section">
            <div id="{{=it.id}}" class="card my-2">
                <div class="card-header"><h4 class="text-bold">{{=it.in_file_path}} | {{=it.name}}</h4></div>
              <div id="body_{{=it.id}}" class="card-body">
                  {{=it.body}}
              </div>
          </div>
        </template>

        <!-- main element -->
        <div id="blind" class="d-flex justify-content-center fixed-top h-100 w-100 bg-light">
            <div class="d-flex" style="margin: auto">
                <div class="loader"></div>
            </div>
        </div>

        <div id="main">
            <div class="container wm-500">
                <div id="content w-100">
                    <h1 class="text-center py-4">de_toolkit</h1>
                    <div id="modules" class="container-fluid"></div>
                </div>
            </div>
        </div>
