<div class="card">
                <div class="card-header d-flex">
                    <h3 class="card-title w-100">Entropy Percentile</h3>
                    <span class="fullscreen-button flex-shrink-1"
                        id="entropy-card-fullscreen" role="button">Fullscreen</span>
                </div>
                <div class="card-body">
                    <div class="entropy" style="height: 90%"></div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-header d-flex">
                        <h3 class="card-title w-100">Entropy Exemplars</h3>
                        <span class="fullscreen-button flex-shrink-1"
                            id="exemplar-card-fullscreen" role="button">Fullscreen</span>
                    </div>
                    <div class="card-body">
                        <div class="entropy_counts" style="height: 90%"></div>
                        <div class="percentile_slider"></div>
                    </div>
                </div>
            </div>
