<table class="table table-bordered" style="width:300px">
                <tr>
                    <th scope="row" class="bg-light">Filter command</th>
                    <td>{{=it.params.command}}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light"># kept</th>
                    <td>{{=it.properties.num_kept}}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-light"># filtered</th>
                    <td>{{=it.properties.num_filtered}}</td>
                </tr>
            </table>

