            <div class="card">
                <div class="card-header d-flex">
                    <h3 class="card-title w-100">PCA Projections</h3>
                    <span class="fullscreen-button flex-shrink-1" id="parallel-card-fullscreen" role="button">Fullscreen</span>
                </div>
                <div class="card-body" style="height: 90%">
                    <div class="parallel" style="height: 90%"></div>
                    <div class="controls form-row">
                        <div class="col-md-4 mb-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Color by</span>
                                </div>
                                <select class="form-control" id="color_by">
                                    <option selected value="sample">None</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header d-flex">
                    <h3 class="card-title w-100">Pairwise PCA Projections</h3>
                    <span class="fullscreen-button flex-shrink-1" id="pairwise-card-fullscreen" role="button">Fullscreen</span>
                </div>
                <div class="card-body">
                    <div class="pca_pairwise" style="height: 80%"></div>
                    <div class="controls">
                        PC1: <div class="pc1_slider my-2"><div class="handle ui-slider-handle"></div></div>
                        PC2: <div class="pc2_slider my-2"><div class="handle ui-slider-handle"></div></div>
                        <div class="form-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Color by</span>
                                    </div>
                                    <select class="form-control" id="color_by">
                                        <option selected value="sample">None</option>
                                    </select>

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Shape by</span>
                                    </div>
                                    <select class="form-control" id="shape_by">
                                        <option selected value="sample">None</option>
                                    </select>

                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Size by</span>
                                    </div>
                                    <select class="form-control" id="size_by">
                                        <option selected value="sample">None</option>
                                    </select>
                            </div>
                    </div>
                </div>
            </div>
