<div class="card">
                <div class="card-header d-flex">
                    <h3 class="card-title w-100">Row Zeros</h3>
                    <span class="fullscreen-button flex-shrink-1" id="rowzero-card-fullscreen" role="button">Fullscreen</span>
                </div>
                <div class="card-body">
                    <div class="zeros" style="height: 90%"></div>
                </div>
            </div>
